
.center-content {
    margin: auto;
    width: 50%;
    text-align: center;
}

.vert-group-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.centered {
    text-align: center;
}

.block-center {
    margin: 0 auto;
}

.grey-bg {
    background:#ebebeb;
    width:100%;
}

.font-size-adjust li{
    font-size:18px;
    margin: 10px;
}

.text-settings {
    font-size:18px;
    line-height: 1.5;
}

.homepage-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}

.fixed-size{
    width:600px;
    height:300px;
}

.vert-align{
    margin-top:100px;
}
