.centered {
    text-align: center;
}

#header-text {
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

.options-container {
    flex: 1;
    flex-basis: 20%;
    min-height: 100%;
    margin-top: 30px;
    padding-left: 25px;
}

.full-width {
    width: 100%;
}

.vertical-button {
    margin-bottom: 10px;
    width: 100%;
}

.rooms-container {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    min-height: 100%;
}

.rooms-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.card-wrapper {
    margin-bottom: 30px;
}

.pt-card {
    width: 300px;
}